.aboutMe {
    padding: 2rem;
    background-color: rgb(16,16,26);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .description {
    text-align: center;
    font-size: 1.2rem;
    max-width: 600px;
  }
  