.mySkills {
  background-color: rgb(16, 16, 26);  /* Nastavené pozadie */
  padding: 2rem;
  color: white;
  cursor: default;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySkillsTitle {
  margin-bottom: 1.5rem; /* Priestor medzi nadpisom a obsahom */
  font-size: 2rem; /* Veľkosť nadpisu */
  font-weight: bold;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 stĺpce */
  gap: 1rem;
  justify-items: center; /* Zarovnanie na stred */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem; /* Zmenšené padding pre menší rozostup */
  background-color: rgb(16, 16, 26);  /* Zladené s pozadím */
  border-radius: 10px;
  color: white;
}

.icon {
  width: 45px;
  height: 45px;
  margin-bottom: 0.3rem; /* Menší rozostup medzi ikonou a textom */
  transition: transform 0.3s ease;  /* Plynulý prechod pre zväčšenie */
  border-radius: 15%;
}

.icon:hover {
  transform: scale(1.3);  /* Zväčší ikonu pri hover */
}

.battery {
  display: flex;
  gap: 0.2rem; /* Zmenšený rozostup medzi jednotlivými úrovňami batérie */
  margin-top: 0.3rem; /* Menší rozostup nad battery */
}

.batteryLevel {
  width: 10px;
  height: 30px;
  border: 2px solid #023047;
  border-radius: 4px;
  background-color: transparent;
}

.filled {
  background-color: #76c7c0;  /* Farba pre zafarbené paličky */
}
